html,body{font-size:12px;margin:0;padding:0;}

#main_container{width:320px;margin:0 auto;padding-bottom:50px;background-color:#eaeaea;overflow:hidden;}

.event_top{background-color:#fff;color:#000;text-align:center;box-shadow:0 2px 2px #000;}
.event_top h1{margin:0;padding:0;}

.customer_cont{height:125px;}
.customer_cont>div{-webkit-transition:-webkit-transform 250ms ease-in;-webkit-transform:scale(0.1);}
.customer_cont>div.in{-webkit-transform:scale(1);}
.customer_cont>div.out{position:absolute;z-index:2;-webkit-transform:scale(1) translate3d(-320px,0,0);}

.rival_cont{}
.rival_cont>div{-webkit-transition:-webkit-transform 250ms ease-in;-webkit-transform:scale(0.1);}
.rival_cont>div.in{-webkit-transform:scale(1);}

.custom_head{position:relative;margin:10px 0 5px;}
.custom_head h2{margin:0 0 0 5px;padding:0;}
.custom_head .queue{position:absolute;right:5px;top:5px;}
.custom_head .queue b{display:inline-block;width:11px;height:20px;margin-left:3px;}
.custom_head .queue b.a{background-image:url(img/sys/custom_a.png);}
.custom_head .queue b.u{background-image:url(img/sys/custom_u.png);}

.rival_head{margin-top:10px;}
.rival_head h2{margin:0 0 0 5px;padding:0;}

.self_head{margin-top:10px;}
.self_head h2{margin:0 0 0 5px;padding:0;}

.scroll_panel{height:116px;overflow:hidden;}
.scroll_container{height:100%;width:320px;}
.scroll_panel[data-total-chara="2"] .scroll_container{width:640px;}
.scroll_panel[data-total-chara="3"] .scroll_container{width:960px;}
.scroll_panel[data-total-chara="4"] .scroll_container{width:1280px;}
.scroll_panel[data-total-chara="5"] .scroll_container{width:1600px;}
.scroll_node{float:left;width:320px;height:100%px;}

.scroll_button{position:relative;z-index:5;}
.scroll_button div{position:absolute;width:17px;height:48px;bottom:28px;}
.scroll_button .prev{left:0px;background-image:url(img/sys/btn_lastpage.png);}
.scroll_button .next{right:0px;background-image:url(img/sys/btn_nextpage.png);}

.scroll_point{text-align:center;}
.scroll_point b{display:inline-block;width:10px;height:10px;margin:0 2px;border-radius:5px;background-color:#999;}
.scroll_point b.curr{background-color:#5486d9;}

.action{margin-top:5px;text-align:center;}

.btn_large{border-width:2px;padding:6px 12px;border-radius:4px;font-size:18px;font-weight:700;}
.btn_blue{border-style:solid;border-color:#000;background-color:#1d52bc;color:#fff;}

.result{position:fixed;display:none;left:0;top:0;z-index:10;width:100%;height:100%;background-color:rgba(0,0,0,.6);}
.result .title{position:absolute;left:50%;top:50%;width:200px;height:28px;margin:-115px 0 0 -100px;background-color:#fff;color:#000;text-align:center;line-height:28px;font-weight:700;}
.result .cutin{position:absolute;left:50%;top:50%;width:286px;height:184px;margin:-75px 0 0 -146px;border:solid 3px #fff;border-radius:5px;}
.result .cutin[data-stage-pic="1"]{background-image:url(img/bg/cutin/1.png);}
.result .cutin[data-stage-pic="2"]{background-image:url(img/bg/cutin/2.png);}
.result .cutin[data-stage-pic="3"]{background-image:url(img/bg/cutin/3.png);}
.result .cutin .head{position:absolute;width:50px;height:50px;border-radius:25px;border-width:2px;border-style:solid;background-color:#fff;}
.result .cutin .head[data-chara-pic="1"]{background-image:url(img/chara/cutin/1.png);}
.result .cutin .head[data-chara-pic="2"]{background-image:url(img/chara/cutin/2.png);}
.result .cutin .head[data-chara-pic="3"]{background-image:url(img/chara/cutin/3.png);}
.result .cutin .head[data-chara-pic="4"]{background-image:url(img/chara/cutin/4.png);}
.result .cutin .head[data-chara-pic="5"]{background-image:url(img/chara/cutin/5.png);}
.result .cutin .head[data-chara-pic="6"]{background-image:url(img/chara/cutin/6.png);}
.result .cutin .head[data-chara-pic="7"]{background-image:url(img/chara/cutin/7.png);}
.result .cutin .head[data-chara-pic="8"]{background-image:url(img/chara/cutin/8.png);}
.result .cutin .head[data-chara-pic="9"]{background-image:url(img/chara/cutin/9.png);}
.result .cutin .head[data-chara-pic="10"]{background-image:url(img/chara/cutin/10.png);}
.result .cutin .head[data-chara-pic="11"]{background-image:url(img/chara/cutin/11.png);}
.result .cutin .head[data-chara-pic="12"]{background-image:url(img/chara/cutin/12.png);}
.result .cutin .head[data-chara-pic="13"]{background-image:url(img/chara/cutin/13.png);}
.result .cutin .head[data-chara-pic="14"]{background-image:url(img/chara/cutin/14.png);}
.result .cutin .head[data-chara-pic="15"]{background-image:url(img/chara/cutin/15.png);}
.result .cutin .head[data-chara-pic="16"]{background-image:url(img/chara/cutin/16.png);}
.result .cutin .head[data-chara-pic="17"]{background-image:url(img/chara/cutin/17.png);}
.result .cutin .head[data-chara-pic="18"]{background-image:url(img/chara/cutin/18.png);}
.result .cutin .head[data-chara-pic="19"]{background-image:url(img/chara/cutin/19.png);}
.result .cutin .head[data-chara-pic="20"]{background-image:url(img/chara/cutin/20.png);}
.result .cutin .head[data-chara-pic="21"]{background-image:url(img/chara/cutin/21.png);}
.result .cutin .head[data-chara-pic="22"]{background-image:url(img/chara/cutin/22.png);}
.result .cutin .head[data-chara-pic="23"]{background-image:url(img/chara/cutin/23.png);}
.result .cutin .head[data-chara-pic="24"]{background-image:url(img/chara/cutin/24.png);}
.result .cutin .head[data-chara-pic="25"]{background-image:url(img/chara/cutin/25.png);}
.result .cutin .head[data-chara-pic="26"]{background-image:url(img/chara/cutin/26.png);}
.result .cutin .head[data-chara-pic="301"]{background-image:url(img/chara/cutin/301.png);}
.result .cutin .head[data-chara-pic="302"]{background-image:url(img/chara/cutin/302.png);}
.result .cutin .head[data-chara-pic="303"]{background-image:url(img/chara/cutin/303.png);}
.result .cutin .head[data-chara-pic="304"]{background-image:url(img/chara/cutin/304.png);}
.result .cutin .head[data-chara-pic="305"]{background-image:url(img/chara/cutin/305.png);}
.result .cutin .head[data-border-type="1"]{border-color:#a2d0eb;}
.result .cutin .head[data-border-type="2"]{border-color:#fb3f86;}
.result .cutin .head[data-border-type="3"]{border-color:#c87bf9;}

.result .cutin .head[data-pos="0"]{left:116px;top:10px;-webkit-transition:-webkit-transform 250ms ease-in;}
.result .cutin[data-total-chara="1"] .head[data-pos="1"]{left:116px;top:120px;}
.result .cutin[data-total-chara="2"] .head[data-pos="1"]{left:26px;top:120px;}
.result .cutin[data-total-chara="2"] .head[data-pos="2"]{left:206px;top:120px;}
.result .cutin[data-total-chara="3"] .head[data-pos="1"]{left:26px;top:120px;}
.result .cutin[data-total-chara="3"] .head[data-pos="2"]{left:116px;top:120px;}
.result .cutin[data-total-chara="3"] .head[data-pos="3"]{left:206px;top:120px;}
.result .cutin[data-total-chara="4"] .head[data-pos="1"]{left:11px;top:120px;}
.result .cutin[data-total-chara="4"] .head[data-pos="2"]{left:81px;top:120px;}
.result .cutin[data-total-chara="4"] .head[data-pos="3"]{left:151px;top:120px;}
.result .cutin[data-total-chara="4"] .head[data-pos="4"]{left:221px;top:120px;}

.result .cutin[data-total-chara="1"] .head[data-pos="0"][data-result="1"]{-webkit-transform:translate3d(0px,110px,0);}
.result .cutin[data-total-chara="2"] .head[data-pos="0"][data-result="1"]{-webkit-transform:translate3d(-90px,110px,0);}
.result .cutin[data-total-chara="2"] .head[data-pos="0"][data-result="2"]{-webkit-transform:translate3d(90px,110px,0);}
.result .cutin[data-total-chara="3"] .head[data-pos="0"][data-result="1"]{-webkit-transform:translate3d(-90px,110px,0);}
.result .cutin[data-total-chara="3"] .head[data-pos="0"][data-result="2"]{-webkit-transform:translate3d(0px,110px,0);}
.result .cutin[data-total-chara="3"] .head[data-pos="0"][data-result="3"]{-webkit-transform:translate3d(90px,110px,0);}
.result .cutin[data-total-chara="4"] .head[data-pos="0"][data-result="1"]{-webkit-transform:translate3d(-105px,110px,0);}
.result .cutin[data-total-chara="4"] .head[data-pos="0"][data-result="2"]{-webkit-transform:translate3d(-35px,110px,0);}
.result .cutin[data-total-chara="4"] .head[data-pos="0"][data-result="3"]{-webkit-transform:translate3d(35px,110px,0);}
.result .cutin[data-total-chara="4"] .head[data-pos="0"][data-result="4"]{-webkit-transform:translate3d(105px,110px,0);}

.result .hint_tap{position:absolute;bottom:30px;display:none;width:100%;color:#fff;font-size:18px;font-weight:700;text-align:center;}

.hint_tap{-webkit-animation:anim-blink 1400ms linear infinite;}
@-webkit-keyframes anim-blink{
	0%{opacity:0;}
	25%{opacity:1;}
	50%{opacity:1;}
	75%{opacity:0;}
	100%{opacity:0;}
}

.anim_ellipsis{position:absolute;left:40px;top:-2px;width:18px;height:16px;background-image:url(img/sys/ellipsis.png);-webkit-animation:anim-ellipsis 4s steps(4) forwards;}
@-webkit-keyframes anim-ellipsis{
	0%{background-position:0 0;}
	100%{background-position:-72px 0;}
}

.anim_heart{position:absolute;left:15px;top:9px;width:18px;height:16px;background-image:url(img/sys/heart.png);-webkit-animation:anim-heart 800ms ease-in forwards;}
@-webkit-keyframes anim-heart{
	0%{-webkit-transform:translate3d(0,0,0) scale(1);opacity:1;}
	100%{-webkit-transform:translate3d(0,-50px,0) scale(1.4);opacity:0;}
}

.custom_box_c{position:relative;margin:0 auto;width:310px;border:3px solid #000;border-radius:5px;height:120px;overflow:hidden;background-color:#c87bf9;background-image:url(img/sys/detail_arrow.png);background-repeat:repeat-x;}
.custom_box_c .price{position:absolute;right:-10px;top:-10px;width:90px;height:28px;border-radius:5px;padding:10px 20px 0 0;background-color:#000;color:#fff;text-align:right;line-height:24px;}
.custom_box_c .price:before{content:"$ ";}
.custom_box_c .name{position:absolute;left:127px;top:22px;color:#fff;font-size:14px;font-weight:700;}
.custom_box_c .desc{position:absolute;left:127px;top:41px;width:178px;color:#fff;line-height:16px;}
.custom_box_c .data_lay{position:absolute;left:115px;top:77px;width:190px;height:38px;background-image:url(img/sys/detail_c.png);}
.custom_box_c .data_lay span{position:absolute;color:#fff;font-size:14px;}
.custom_box_c .data_lay .like{left:15px;top:0px;}
.custom_box_c .data_lay .spec{left:123px;top:0px;}
.custom_box_c .data_lay .affect{left:87px;top:20px;}
.custom_box_c .chara_face{position:absolute;left:0;top:0;width:100%;height:100%;}
.custom_box_c[data-custom-pic="301"] .chara_face{background-image:url(img/chara/bar/301.png);}
.custom_box_c[data-custom-pic="302"] .chara_face{background-image:url(img/chara/bar/302.png);}
.custom_box_c[data-custom-pic="303"] .chara_face{background-image:url(img/chara/bar/303.png);}
.custom_box_c[data-custom-pic="304"] .chara_face{background-image:url(img/chara/bar/304.png);}
.custom_box_c[data-custom-pic="305"] .chara_face{background-image:url(img/chara/bar/305.png);}

.chara_band{height:13px;padding-right:2px;text-align:right;}
.chara_band span{display:inline-block;padding:0 5px 2px;background-color:#000;color:#fff;border-radius:5px 5px 0 0;}

.chara_box_s{position:relative;margin:3px auto;width:310px;border:3px solid #000;border-radius:5px;height:86px;}
.chara_box_s[data-bg-type="1"]{background-color:#a2d0eb;}
.chara_box_s[data-bg-type="2"]{background-color:#fb3f86;}
.chara_box_s[data-bg-type="4"]{background-color:#ccc;}
.chara_box_s .data_lay{position:absolute;left:4px;top:4px;z-index:3;width:216px;height:58px;background-image:url(img/sys/detail_s.png);}
.chara_box_s .data_lay span{position:absolute;color:#fff;font-size:14px;}
.chara_box_s .data_lay .name{font-weight:700;left:3px;top:0px;}
.chara_box_s .data_lay .age{left:176px;top:0px;}
.chara_box_s .data_lay .fashion{left:35px;top:20px;}
.chara_box_s .data_lay .pure{left:110px;top:20px;}
.chara_box_s .data_lay .sexy{left:180px;top:20px;}
.chara_box_s .data_lay .technic{left:35px;top:40px;}
.chara_box_s .data_lay .health{left:110px;top:40px;}
.chara_box_s .tag_lay{position:absolute;left:5px;bottom:0;z-index:3;}
.chara_box_s .tag_lay span{display:inline-block;margin-left:4px;margin-top:2px;padding:0 2px;background-color:#fff;box-shadow:2px 2px 2px #000;}
.chara_box_s .tag_back{position:absolute;left:0;bottom:0;width:100%;height:20px;background-color:rgba(0,0,0,.7);}
.chara_box_s .chara_face{position:absolute;left:0;top:0;width:100%;height:100%;z-index:2;}
.chara_box_s[data-chara-pic="0"] .chara_face{background-image:url(img/chara/bar/0.png);}
.chara_box_s[data-chara-pic="1"] .chara_face{background-image:url(img/chara/bar/1.png);}
.chara_box_s[data-chara-pic="2"] .chara_face{background-image:url(img/chara/bar/2.png);}
.chara_box_s[data-chara-pic="3"] .chara_face{background-image:url(img/chara/bar/3.png);}
.chara_box_s[data-chara-pic="4"] .chara_face{background-image:url(img/chara/bar/4.png);}
.chara_box_s[data-chara-pic="5"] .chara_face{background-image:url(img/chara/bar/5.png);}
.chara_box_s[data-chara-pic="6"] .chara_face{background-image:url(img/chara/bar/6.png);}
.chara_box_s[data-chara-pic="7"] .chara_face{background-image:url(img/chara/bar/7.png);}
.chara_box_s[data-chara-pic="8"] .chara_face{background-image:url(img/chara/bar/8.png);}
.chara_box_s[data-chara-pic="9"] .chara_face{background-image:url(img/chara/bar/9.png);}
.chara_box_s[data-chara-pic="10"] .chara_face{background-image:url(img/chara/bar/10.png);}
.chara_box_s[data-chara-pic="11"] .chara_face{background-image:url(img/chara/bar/11.png);}
.chara_box_s[data-chara-pic="12"] .chara_face{background-image:url(img/chara/bar/12.png);}
.chara_box_s[data-chara-pic="13"] .chara_face{background-image:url(img/chara/bar/13.png);}
.chara_box_s[data-chara-pic="14"] .chara_face{background-image:url(img/chara/bar/14.png);}
.chara_box_s[data-chara-pic="15"] .chara_face{background-image:url(img/chara/bar/15.png);}
.chara_box_s[data-chara-pic="16"] .chara_face{background-image:url(img/chara/bar/16.png);}
.chara_box_s[data-chara-pic="17"] .chara_face{background-image:url(img/chara/bar/17.png);}
.chara_box_s[data-chara-pic="18"] .chara_face{background-image:url(img/chara/bar/18.png);}
.chara_box_s[data-chara-pic="19"] .chara_face{background-image:url(img/chara/bar/19.png);}
.chara_box_s[data-chara-pic="20"] .chara_face{background-image:url(img/chara/bar/20.png);}
.chara_box_s[data-chara-pic="21"] .chara_face{background-image:url(img/chara/bar/21.png);}
.chara_box_s[data-chara-pic="22"] .chara_face{background-image:url(img/chara/bar/22.png);}
.chara_box_s[data-chara-pic="23"] .chara_face{background-image:url(img/chara/bar/23.png);}
.chara_box_s[data-chara-pic="24"] .chara_face{background-image:url(img/chara/bar/24.png);}
.chara_box_s[data-chara-pic="25"] .chara_face{background-image:url(img/chara/bar/25.png);}
.chara_box_s[data-chara-pic="26"] .chara_face{background-image:url(img/chara/bar/26.png);}

#guide{position:absolute;left:50%;top:0;z-index:20;width:320px;margin-left:-160px;}
#guide .lightup{width:100%;height:100%;background-color:rgba(0,0,0,.8);-webkit-transition:-webkit-clip-path 200ms ease-in;-webkit-clip-path:polygon(0 0,100% 0,100% 100%,0 100%,0 0,0 0,0 100%,100% 100%,100% 0,0 0);}
#guide .desc{position:absolute;color:#fff;left:0;top:0;width:300px;-webkit-transition:-webkit-transform 200ms ease-in;font-size:16px;text-shadow:1px 1px 1px #000,-1px 1px 1px #000,1px -1px 1px #000,-1px -1px 1px #000;text-align:center;}
#guide .tour{position:fixed;left:50%;top:0;width:320px;margin-left:-160px;height:100%;overflow:hidden;}
#guide .tour div{position:absolute;left:20px;bottom:20px;box-sizing:border-box;width:280px;height:140px;padding:8px;opacity:0;-webkit-transition:opacity 250ms linear;border:solid 3px rgba(88,27,53,.7);border-radius:8px;background-color:rgba(255,255,255,.7);font-size:14px;line-height:24px;}
#guide .tour div[data-ready="1"]:after{content:"▶";position:absolute;right:0;bottom:0;-webkit-animation:anim-tour-serif-ready 400ms ease-in infinite;}
#guide .tour i{position:absolute;left:-50px;bottom:-120px;display:block;width:255px;height:559px;}
#guide .tour[data-anim="init"] i{-webkit-transform:translate3d(-205px,0,0);}
#guide .tour[data-anim="show"] i{-webkit-animation:anim-tour-in 400ms ease-in forwards;}
#guide .tour[data-anim="jump"] i{-webkit-animation:anim-tour-jump 150ms ease-in forwards;}
#guide .tour[data-anim="jump2"] i{-webkit-animation:anim-tour-jump-2 150ms ease-in forwards;}
#guide .tour[data-anim="leave"] i{-webkit-animation:anim-tour-out 200ms ease-out forwards;}
#guide .tour i{background-image:url(img/chara/tour/1.png);}
#guide .tour[data-emotion="smile"] i{background-image:url(img/chara/tour/2.png);}
#guide .tour[data-emotion="smile2"] i{background-image:url(img/chara/tour/12.png);}
#guide .tour[data-emotion="surprise"] i{background-image:url(img/chara/tour/6.png);}
#guide .tour[data-emotion="surprise2"] i{background-image:url(img/chara/tour/15.png);}
#guide .tour[data-emotion="sad"] i{background-image:url(img/chara/tour/13.png);}
#guide .tour[data-emotion="sad2"] i{background-image:url(img/chara/tour/4.png);}
#guide .tour[data-emotion="fight"] i{background-image:url(img/chara/tour/18.png);}
#guide .tour[data-emotion="stun"] i{background-image:url(img/chara/tour/10.png);}
#guide .tour[data-emotion="sigh"] i{background-image:url(img/chara/tour/20.png);}
#guide .tour[data-emotion="normal2"] i{background-image:url(img/chara/tour/11.png);}
#guide .tour[data-emotion="angry"] i{background-image:url(img/chara/tour/7.png);}
#guide .area{position:absolute;display:none;}


@-webkit-keyframes anim-tour-serif-ready{
	0%{-webkit-transform:translate3d(-10px,0,0);}
	50%{-webkit-transform:translate3d(0px,0,0);}
	100%{-webkit-transform:translate3d(-10px,0,0);}
}

@-webkit-keyframes anim-tour-in{
	0%{-webkit-transform:translate3d(-205px,0,0);}
	25%{-webkit-transform:translate3d(-155px,-30px,0);}
	50%{-webkit-transform:translate3d(-100px,0,0);}
	75%{-webkit-transform:translate3d(-50px,-15px,0);}
	100%{-webkit-transform:translate3d(0,0,0);}
}

@-webkit-keyframes anim-tour-out{
	0%{-webkit-transform:translate3d(0,0,0);}
	100%{-webkit-transform:translate3d(-205px,0,0);}
}

@-webkit-keyframes anim-tour-jump{
	0%{-webkit-transform:translate3d(0,0,0);}
	60%{-webkit-transform:translate3d(0,-20px,0);}
	100%{-webkit-transform:translate3d(0,0,0);}
}

@-webkit-keyframes anim-tour-jump-2{
	0%{-webkit-transform:translate3d(0,0,0);}
	60%{-webkit-transform:translate3d(0,-20px,0);}
	100%{-webkit-transform:translate3d(0,0,0);}
}

